<center>
<h1> <%=@question.question_text%> </h1>

<h3>answers:</h3>
<%@answers.each do |answer|%>
 <%= answer.user.user_name %>'s answer:   <%= answer.answer_text %>
<br>
<%end%>



<a href="/questions/<%=@question.id%>/answers/new">answer the question</a>
</center>
