<div class="user-registration">
<center>



<h1>Web Site's Registration</h1>
<form class="registration" action="/users" method="POST">
  <input type="text" name="user[user_name]" placeholder="User Name"><br>
  <input type="email" name="user[email]" placeholder="Email"><br>
  <input type="password" name="user[password]" placeholder="Password"><br>
  <input type="submit" value="Register">
</form>
</center>
</div>
