<h1> Hello, <%=@user.user_name%> </h1>

<h3>Here are your questions</h3>
<p>
  <% @questions.each do |question| %>
  <ul>
  <a href ="/questions/<%=question.id%>"><%=question.question_text%></a>
  </ul>
  <%end%>
</p>

<h3>Here are your answers</h3>
<p>
  <% @answers.each do |answer| %>
  <ul>
  <%=answer.answer_text%>
  </ul>
  <%end%>
</p>
