<center>
<div class="container">
  <h1>Cat Overflow</h1>
  </div>
  <p>
  <% @questions.each do |question| %>

  <ul>
  <form method="post" action='/questions/<%=question.id%>/vote' class="inline">
        <button type="submit" name="submit_param" value="submit_value" class="upvote-button"></button>
  <a href ="/questions/<%=question.id%>"><%=question.question_text%></a>
    <li><%=question.votes.count%></li>
  </ul>
  </form>
  <%end%>
  </p>
<% if current_user%>
  <a href="questions/new">ask a question</a>
  <%else%>
  <a href="/users/new"> register</a>
  or
  <a href="/sessions/login">login</a>
  to ask a question
  <%end%>
</center>
